html{
    background-color: black;
}
header{
    background-color: red;
    height: 75px;
    
}
li{
    font-size: x-large;
    border: solid 5px;
    border-color:black;
    border-radius: 15px;
    background-color: black;
    color: white;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
    text-align: center;
}
nav{
    padding-top: 30px;
    justify-content: center;
    display: flex;
    gap: 25px; 
}

.imagen{
   margin-left: 600px;
    margin-top: 50px;
    height: 500px;
    width: 750px;
}
p{
    color: white;
}
.Parrafo{
    font-size: 50px;
    margin-left: 130px;
    margin-top: 200px;
}

body{
    font-family: Arial;
}

.hover-effect {
    transition: all 0.3s ease;
  }
  
.hover-effect:hover {
    transform: scale(1.2);
  }

input{
    display: none;
}

label{
    display: none;
}

@media (max-width: 390px) {
    input:checked ~ li{
        display: block;
    }
    input:checked ~ label{
        background: white;
    }
    label:hover{
        background: rgb(255, 255, 255);

    }

    li{
        margin: 0px;
    }
    label{
        box-sizing: border-box;
        display: block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        background-color: white;
    }
}
  

